<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.imaginationforpeople.android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:name=".ImaginationForPeopleApplication" 
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppThemeBlack">
		<activity
            android:name=".activity.HomepageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProjectViewActivity"
            android:theme="@style/AppThemeWhite">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="staging.imaginationforpeople.org"
                    android:pathPattern="/.*/project/.*/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".projectview.FullImageProjectViewActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.FavoritesActivity"
            android:label="@string/app_favorites" />
    </application>

</manifest>
